$maxWidth: 1260;
$headerHeightDesctop: 140px;
$headerHeightScroll: 70px;

// Colors 
$baseGreen: #408491;
$darkBlue: #114A5B;
$blackBLue: #103C4A;
$brown: #C88F04;
$white: #ffffff;
$black: #000000;
$grey: #6A6D62;


// Брейк-поинты
$pc-l: 1500px;
$pc: 1200px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 992px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767px; // Телефоны L
$mobile-s: 480px; // Телефоны S